<% if @page %>
  <p>
    <% if @page.parent %>
      <a href='/<%= @page.parent.full_name %>'>Up</a>
    <% end %> <a href='/'>Main page</a>
  </p>
  <h1><%= @page.title %></h1>
  <p>
    <%= raw decorate @page.content %>
  </p>
  <% unless @pages[0].empty? %>
    <h2>Subpages:</h2>
  <% end %>
<% else %>
  <h1>Main page</h1>
  <p>
    Hello! This is simple wiki. You can see all pages below.
  </p>
<% end %>
<ul>
  <% @pages.each do |p|%>
  <%= raw recursive_tree p %>
  <% end %>
</ul><br/>
<% if @page %>
  <%= link_to "Add subpage", '/' + @page.full_name + '/add' %>
  <%= link_to "Edit", '/' + @page.full_name + '/edit' %>
<% else %>
  <%= link_to "Add root page", "/add" %>
<% end %>
